/**
 * All of the CSS for the public-facing functionality is
 * included in this file.
 */

/* hacky way to do it but sidebar width is an issue in most themes - needs >350px 
 * the height of the span is using display:block
 * the width is set by percentages in the iframe so the height was an issue
 */

/* reset some stuff? */

.kiip-moment-container-widget {	
	display: block !important; /* a lot of the height\width issue depends on it*/
	padding: 0 0 0 0 !important; /* reset */
	margin: 0 0 0 0 !important; /* reset */
	overflow: visible!important; /* no scroll bars */
	height: 355px !important; /* how to set the height for iframe contents? */
}

.kiip-moment-container-shortcode {
	display: block !important; /* a lot of the height\width issue depends on it*/
	padding: 0 0 0 0 !important; /* reset */
	margin: 0 0 0 0 !important; /* reset */
	overflow: visible !important; /* no scroll bars */
	height: 355px !important; /* how else to set the height for iframe contents? */
}

/* small screens */
@media (max-width: 1124px) {
.kiip-moment-container-widget,.kiip-moment-container-shortcode #kiip-moment-container {
	  margin-left: -10% !important;
}
}

/* mobile screens */
@media (max-width: 500px) {
.kiip-moment-container-widget,.kiip-moment-container-shortcode #kiip-moment-container {
	  margin-left: -4% !important;
}
}
