/**
 * All of the CSS for the admin-specific functionality is
 * included in this file.
 */

.body-kiip {
	padding-top: 54px;
	}

.microlight {
    font-family: monospace;
	color: #bbc8d4;
    white-space: pre;
    background-color: #00338B;
	padding: 20px;
	border-radius: 25px;
	font-size: 12px;
}

.microlight .odd {
	color: #00338B !important;
    background-color: #bbc8d4 !important;
}

.footer-link {
	font-size: 12px;
}
