/**
 * All of the CSS for the admin-specific functionality is
 * included in this file.
 */

.body-kiip {
	padding-top: 54px;
}
.body-kiip p {
	font-size: 14px;
	font-weight: bolder;
}
.body-kiip .img-thumbnail {
	margin-bottom: 5px;
}
.body-kiip .footer-span {
	font-size: 12px;
	color: #fff;
	background-color: black;
}
.body-kiip .footer-link {
	font-size: 11px;
}

i.kiip-mce-icon {
	background-image: url('../../assets/images/kiip-logo-32x32-square.png');
}
